.parallax {
    background-image: url("/media/images/site-decoration/about/IMG_0065@0.5x.jpg");
    min-height: 35rem;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}



.about-description-image {
    background-image: url("/media/images/site-decoration/about/bergen_blurred.jpg");
    min-height: 40.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}





@media screen and (max-width: 400px) {


    .showcase p {
        font-size: 1.1rem;
    }

    .info-card-description {
        width: 100%;
    }
}