.parallax {
    background-image: url("/media/images/site-decoration/about/IMG_0065@0.5x.jpg");
    min-height: 45.25rem;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}



.about-description-image {
    background-image: url("/media/images/site-decoration/about/bergen_blurred.jpg");
    min-height: 40.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.rainy-info {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    background-color: #bfd1d62c;
    padding-top: var(--rem-spacing4);


}

.info-card {
    height: 25rem;
    font-family: var(--bai-jamjuree);
    max-width: 100%;
    margin: auto var(--size20px);
    /* overflow: hidden; */
    
    

}
.info-card-content {
    display: flex;
    justify-content: space-between;

}
.info-card-content img {
    height: 9.18rem;
    margin: auto var(--rem-spacing2) auto 0;
    border-radius: 50%;
    overflow: hidden;
    min-width: 146px;
}


.info-card-description p {
    width: 12.5rem;
    margin-top: var(--size20px);
}
.info-card-description h2 {
    text-decoration: underline;
    text-align: left;

}




@media screen and (max-width: 400px) {


    .showcase p {
        font-size: 1.1rem;
    }

    .info-card-description {
        width: 100%;
    }
}