.parallax {
    background-image: url("/media/images/site-decoration/test.png");
    min-height: 35rem;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.showcase {
    display: flex;
    column-gap: var(--size15px);
    row-gap: var(--rem-spacing2);
    margin: var(--rem-spacing4) var(--rem-spacing2);
    justify-content: space-around;
}

.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 15px;
    max-width: 22rem;
    text-align: center;
}

.product-image {
    max-width: 100%;
    overflow: hidden;
    padding: 2.5rem;
    flex-shrink: 0;
}

.line{
    border-bottom: 1px solid grey;
    width: 100%;
}

.product-description h2 {
    margin: var(--size20px) 0 var(--rem-spacing2) 0;
    text-decoration: underline;
}

.product-description {
    font-family: var(--bai-jamjuree);
    font-size: 0.81rem;
    margin: 0 var(--size20px) var(--size10px) var(--size20px);
}

.card-buttons {

    display: flex;
    justify-content: space-around;
    margin: 1rem 0 5px 0;
    flex-wrap: wrap;
    gap: var(--size10px);
}


.read-more {
    background-color: rgb(12, 55, 93);
} 

.add-to-cart, .read-more {
    display: block;
    font-family: var(--bai-jamjuree);
    text-decoration: none;
    color: black;
    background-color: #E4D3C8;
    padding: 0.7rem 1.875rem;
    border-radius: 100px;
    text-align: center;
    margin-bottom: var(--size15px);
    min-width: 9.75rem; 
}


.add-to-cart:hover {
    background-color: #333;
}

.add-to-cart:hover span {
    display: none;
}

.add-to-cart:hover:before {
    content: "Add to cart";
    transition: 2s;
    color: #E4D3C8;
}



@media screen and (max-width: 765px) {

    .showcase {
        flex-direction: column;
    }
    .product-card {
        max-width: 100%;
    }
    
    .h1-banner {
        background-color: transparent;
        border-bottom: 3px solid black;
        width: 100%;
        padding-bottom: var(--rem-spacing2);
        border-radius: 0;
    }

}