.showcase {
    display: flex;
    flex-direction: row;
    gap: var(--size15px);
    justify-content: space-around;
    margin-top: var(--size15px);
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: var(--rem-spacing4) var(--size20px);

    max-width: 300px;
}

.product-image {
    width: 100%;
    /* margin: px 0; */
    min-width: 200px;
    box-sizing: border-box;
    padding-bottom: var(--size15px);
}
.line{
    border-bottom: 1px solid grey;
    width: 100%;
}
.product-description {
    font-family: var(--bai-jamjuree);
    box-sizing: border-box;
    margin: 2.5rem var(--size10px) var(--size10px) var(--size10px);

    padding: var(--size20px);
}

.product-price {

    font-family: var(--bai-jamjuree);
    font-size: 1.2rem;
    font-weight: 600;
    color: red;
    margin: var(--size10px) 0;

}

.card-buttons {
    display: flex;
    justify-content: space-around;
    margin: 0px 0 5px 0;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    padding: 8px 30px;
    border: 1px solid black;
    border-radius: 15px;
    font-family: var(--bai-jamjuree);
}

.read-more {
    background-color: rgb(255, 202, 69);
}

.read-more:hover {
    /* transform: scale(1.05); */
    background-color: black;
    color: rgb(255, 202, 69);
}


.add-to-cart {
    background-color: rgb(125, 112, 78);
}

a {
    text-decoration: none;
    color: black;
}

.rainy-info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: grey;

}

.info-card {
    height: 25rem;
    flex-shrink: inherit;
    font-family: var(--bai-jamjuree);
    max-width: 100vw;
    overflow: auto;
    margin-right: var(--rem-spacing2);

}
.info-card-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.info-card-content img {
    height: 9.18rem;
    margin: auto var(--rem-spacing2) auto 0;
    border-radius: 50%;
}

.info-card-description {
    
}
.info-card-description p {
    width: 12.5rem;
    margin-top: var(--size20px);
}
.info-card-description h2 {
    text-decoration: underline;
    text-align: left;

}
