.parallax {
    background-image: url("/media/images/site-decoration/test.png");
    min-height: 45.25rem;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.showcase {
    display: flex;
    width: 100%;
    gap: var(--size15px);
    margin-top: var(--size15px);
    justify-content: space-around;
}

.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 15px;
    margin: var(--rem-spacing4) var(--size20px);
    max-width: 300px;
    max-height: 600px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    overflow: hidden;
    padding: var(--size15px) var(--rem-spacing2); 
}

.line{
    border-bottom: 1px solid grey;
    width: 100%;
}

.product-description {
    font-family: var(--bai-jamjuree);
    font-size: 0.81rem;
    margin: 0 var(--size20px) var(--size10px) var(--size20px);

}

.product-description h2 {
    margin: var(--size20px) 0 var(--rem-spacing2) 0;
    text-decoration: underline;
}



.card-buttons {
    display: flex;
    justify-content: space-around;
    margin: 0px 0 5px 0;
    /* flex-wrap: wrap; */
    gap: var(--size10px);
}

.btn {
    padding: 8px 30px;
    border-radius: 15px;
    font-family: var(--bai-jamjuree);
    margin-bottom: var(--size15px);
}

.read-more {
    background-color: #EFE7E2;
}

.read-more:hover {
    /* transform: scale(1.05); */
    background-color: black;
    color: rgb(255, 202, 69);
}


.add-to-cart {
    background-color: #E4D3C8;
}


.rainy-info {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    background-color: #bfd1d62c;
    padding-top: var(--rem-spacing4);
    flex-wrap: wrap;
}

.info-card {
    height: 25rem;
    font-family: var(--bai-jamjuree);
    max-width: 100%;
    overflow: hidden;
}

.info-card-content {
    display: flex;
    justify-content: space-between;
}

.info-card-content img {
    height: 9.18rem;
    margin: auto var(--rem-spacing2) auto 0;
    border-radius: 50%;
    overflow: hidden;
    min-width: 146px;
}

.info-card-description p {
    width: 12.5rem;
    margin-top: var(--size20px);
}

.info-card-description h2 {
    text-decoration: underline;
    text-align: left;

}








@media screen and (max-width: 1224px) {
    .showcase {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 100%;
        margin: 1rem var(--size20px);
    }

    
    
    .info-card {
        padding: var(--size10px);
        height: 16.75rem;
    
    }
    .info-card-content {
        justify-content: center;
        
    }

    .info-card img {
        height: 130px;
        width: 130px;
    }
}



@media screen and (max-width: 810px) {
    .rainy-info {
        flex-direction: column;
    }
}


@media screen and (max-width: 700px) {

    .info-card {
        padding: var(--size10px) 0;
        height: 16.75rem;
    }

    .h1-banner {
        background-color: transparent;
        border-bottom: 3px solid black;
        width: 100%;
        padding-bottom: var(--rem-spacing2);
        border-radius: 0;
    }
    [class^="fa-"] {
        color: black;
    }
}