.parallax {
    background-image: url("/media/images/site-decoration/kamil-kalbarczyk-lY11p3yNVxE-unsplash.jpg");
    min-height: 40rem;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

#products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: wrap;
    padding: var(--rem-spacing4);
    margin-bottom: var(--rem-spacing4);

}
.product-card-product {
    display: flex;
    max-width: 23.13rem;
    align-items: center;
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 4px 4px 10px 3px rgba(0,0,0,0.51);
    padding: 1rem;
}

.images {
    display: flex;
    max-width: 10rem;
    background-color: #e8c1c167;
    border-radius: var(--size15px);
    box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.75);
    align-items: center;
    height: 15.938rem;
}

.images img {
    max-height: 12rem;
    border-radius: var(--size15px);
    margin: 0 auto
    
}


.heading-product {
    font-size: 1rem;
    text-decoration: underline;
    font-weight: 800;
    margin: var(--size10px) auto var(--size10px) auto;
    text-align: center;
}


.description-product {
    text-align: center;
    font-size: 0.82rem;
    margin: 0 auto;
    font-family: var(--bai-jamjuree);
    padding: var(--size10px);
}

/* button */
.button-product {
    display: block;
    font-family: var(--bai-jamjuree);
    font-size: 1rem;
    font-weight: 800;
    text-decoration: none;
    color: black;
    background-color: #E4D3C8;
    padding: 1rem var(--size24px);
    border-radius: 100px;
    text-align: center;
    margin: 2.438rem var(--size10px) 1rem var(--size10px);     
}

.button-product:hover {
    background-color: #333;
}

.button-product:hover span {
    display: none;
}

.button-product:hover:before {
    content: "Add to cart";
    transition: 2s;
    color: #E4D3C8;
  }
/* end */

/* media */
@media screen and (max-width: 920px) {
    #products {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    #products {
        margin-top: var(--rem-spacing2);
        padding: 0 var(--size20px);
    }
}

@media screen and (max-width: 406px) {
    .button-product {
        margin-top: var(--size24px);
    }
} 
    


@media screen and (max-width: 385px) {

    .images {
        margin-top: 1.875rem;
    }
}

@media screen and (max-width: 375px) {
    .button-product {
        margin-top: 0;
    }
} 