* {
    margin: 0;
    padding: 0;
}
:root {
    /* legge inn font til slogan under logo  */
    --bai-jamjuree: 'Bai Jamjuree', sans-serif;
    --inter: 'Inter', sans-serif;
    --rem-spacing2: 2rem;
    --rem-spacing4: 4rem;
    --size15px: 0.937rem;
    --size10px: 0.625rem;
    --size40px: 2.5rem;
    --size20px: 1.25rem;

}

body {
    background-color: #FBFEFF;
}

.parallax-home {
    background-image: url("/media/images/site-decoration/test.png");
    min-height: 45.25rem;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}


.topnav {
    position: fixed;
    width: 100%;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 126, 253, 1) 100%);
}

.topnav ul {
    list-style-type: none;
    text-align: center;
    padding: 0.8rem 0;
    border-bottom: 3px solid black;
    height: 5rem;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
}

.topnav ul li {
    display: inline-flex;
    align-items: space-between;
}

.topnav ul li a:visited {
    color: black;
}

.topnav ul li:last-child { 
    margin: 0;
}

.topnav ul li a {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    padding: var(--size10px) 1.2rem;
    margin-top: var(--rem-spacing2);
    padding-bottom: var(--size10px);
    /* må få tekst til center og legge inn ikon for cart */
}

.active {
    text-decoration: none;
    border-bottom: 4px solid black;

}

.mobile-navbar, .logo {
    display: none; 
}

.h1-banner {
    background-color: rgb(223, 252, 216);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15.6rem;
    margin-top: 1.25rem;
    padding: 0.4rem 0;
    border-radius: 0.93rem;
    font-family: var(--inter);
}

.showcase {
    display: flex;
    flex-direction: row;
    gap: var(--size15px);
    justify-content: space-around;
    margin-top: var(--size15px);
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: var(--rem-spacing4) var(--size20px);

    max-width: 300px;
}

.product-image {
    width: 100%;
    /* margin: px 0; */
    min-width: 200px;
    box-sizing: border-box;
    padding-bottom: var(--size15px);
}
.line{
    border-bottom: 1px solid grey;
    width: 100%;
}
.product-description {
    font-family: var(--bai-jamjuree);
    box-sizing: border-box;
    margin: 2.5rem var(--size10px) var(--size10px) var(--size10px);

    padding: var(--size20px);
}

.product-price {

    font-family: var(--bai-jamjuree);
    font-size: 1.2rem;
    font-weight: 600;
    color: red;
    margin: var(--size10px) 0;

}

.card-buttons {
    display: flex;
    justify-content: space-around;
    margin: 0px 0 5px 0;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    padding: 8px 30px;
    border: 1px solid black;
    border-radius: 15px;
    font-family: var(--bai-jamjuree);
}

.read-more {
    background-color: rgb(255, 202, 69);
}

.read-more:hover {
    /* transform: scale(1.05); */
    background-color: black;
    color: rgb(255, 202, 69);
}


.add-to-cart {
    background-color: rgb(125, 112, 78);
}

a {
    text-decoration: none;
    color: black;
}

.rainy-info {
    display: flex;
    width: 100vw;
}

.info-card {
    height: 25rem;
    background-color: grey;
    font-family: var(--bai-jamjuree);
    max-width: 100vw;

}
.info-card-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.info-card-content img {
    height: 9.18rem;
    margin: auto var(--rem-spacing2) auto 0;
    border-radius: 50%;
}

.info-card-description {
    
}
.info-card-description p {
    width: 12.5rem;
    margin-top: 20px;
}
.info-card-description h2 {
    text-decoration: underline;
    text-align: left;

}


footer {
    height: 10rem;
    background-color: #5C5B43;
    font-family: var(--bai-jamjuree);
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.links:first-child {
    margin-left: var(--rem-spacing4);
}

.links:last-child {
    margin-right: var(--rem-spacing4);
}

.copyright-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: var(--size15px) var(--size15px) 0 0;
}





@media screen and (max-width: 700px) {

    .parallax-home {
        display: none;
    }

    .logo{
        display: block;
        border-bottom: 3px solid black;
        text-align: center;
        padding: var(--rem-spacing2);
        font-size: 1.4rem;
        color: #5C5B43;
    }
    .logo img{
        display: block;
        width: 70vw;
        margin: 0 auto 2rem auto;
        
    }
    .slogan-under-logo {
        font-family: var(--bai-jamjuree);
    }

    .mobile-navbar {
        position: fixed;
        bottom: var(--rem-spacing2);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60vw;
        height: 6rem;
        padding: 0 var(--size15px);
        border-radius: 60px;
        background: rgb(34, 193, 195);
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 126, 253, 1) 100%);
        
    }

    .mobile-navbar a{
      font-size: var(--rem-spacing2);
    }

    .topnav {
        display: none;

    }

    .rainy-info{
        flex-direction: column;
    }
    .info-card {
        padding: 10px;
    }

    .h1-banner {
        background-color: transparent;
        border-bottom: 3px solid black;
        width: 100%;
        padding-bottom: var(--rem-spacing2);
        border-radius: 0;
    }
    [class^="fa-"] {
        
    }
}