* {
    margin: 0;
    padding: 0;
}
:root {
    /* legge inn font til slogan under logo  */
    --bai-jamjuree: 'Bai Jamjuree', sans-serif;
    --inter: 'Inter', sans-serif;
    --rem-spacing2: 2rem;
    --rem-spacing4: 4rem;
    --size15px: 0.937rem;
    --size10px: 0.625rem;
    --size40px: 2.5rem;
    --size20px: 1.25rem;

}

body {
    background-color: #FBFEFF;
}
.stong-p-16px {
    font-weight: 800;
}

.strong-h2-20px {
    font-weight: 800;
    font-size: var(--size20px);
}




.topnav {
    top: 0;
    position: fixed;
    width: 100%;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 126, 253, 1) 100%);
}

.topnav img {
    position: static;
    width: 100px;
}

.topnav ul {
    list-style-type: none;
    text-align: center;
    padding: 0.8rem 0;
    border-bottom: 3px solid black;
    height: 5rem;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
}

.topnav ul li {
    display: inline-flex;
    align-items: space-between;
}

.topnav ul li a:visited {
    color: black;
}

.topnav ul li:last-child { 
    margin: 0;
}

.topnav ul li a {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    padding: var(--size10px) 1.2rem;
    margin-top: var(--rem-spacing2);
    padding-bottom: var(--size10px);
}

.active {
    text-decoration: none;
    border-bottom: 4px solid black;

}

.mobile-navbar, .logo {
    display: none; 
}

.h1-banner {
    background-color: rgb(223, 252, 216);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15.6rem;
    margin-top: 1.25rem;
    padding: 0.4rem 0;
    border-radius: 0.93rem;
    font-family: var(--inter);
}



footer {
    height: 20rem;
    background-color: #2B2B2B;
    font-family: var(--bai-jamjuree);
}

.links  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #FBFEFF;
}
footer a {
    color: #FBFEFF;
}

.links:first-child {
    margin-left: var(--rem-spacing4);
}

.links:last-child {
    margin-right: var(--rem-spacing4);
}

.copyright-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: var(--rem-spacing2) var(--size15px) 0 0;
}





    

@media screen and (max-width: 700px) {

    .parallax {
        display: none;
    }

    .logo{
        display: block;
        border-bottom: 3px solid black;
        text-align: center;
        padding: var(--rem-spacing2);
        font-size: 1.4rem;
        color: #5C5B43;
    }

    .logo img{
        display: block;
        width: 70vw;
        margin: 0 auto 2rem auto;
        
    }

    .slogan-under-logo {
        font-family: var(--bai-jamjuree);
    }

    .h1-banner {
        background-color: transparent;
        border-bottom: 3px solid black;
        width: 100%;
        padding-bottom: var(--rem-spacing2);
        border-radius: 0;
    }

    .mobile-navbar {
        position: fixed;
        bottom: var(--rem-spacing2);
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 100%;
        height: 6rem;
        margin: 0 auto;
        padding: 0 var(--size15px);
        border-radius: 60px;
        background: rgb(34, 193, 195);
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 126, 253, 1) 100%);
        
    }

    .mobile-navbar a{
      font-size: var(--rem-spacing2);
      padding: 0 2rem;
    }


    [class^="fa-"] {
        color: black;
    }

    .topnav {
        display: none;

    }
    
    .footer {
        height: 20rem;
    }
}